.jumbotron{
    padding: 2rem 1rem;
    padding-top: 5rem;
}

#about{
    background-color: #FD7E14;
    padding-top: 6rem;
}
#form{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 5rem;
    background-color: #FD7E14;
}
#project{
    padding-top: 5rem;
}